<launch> 

  <rosparam command="load" file="$(find tamiya_jetracer)/cfg/mobile_robot_odometry.yaml" />

  <arg name = "model" default = "$(find tamiya_description)/urdf/tamiya.urdf" />
  <arg name="load_map_file_path" default="$(find tamiya_jetracer)/maps/mymap.yaml"/>

  <node pkg="tamiya_jetracer" name="vesc_controller" type="vesc_controller.py" output="screen"> </node>
  <!-- <node pkg="tamiya_jetracer" name="odom_publisher" type="odom_publisher" output="screen"> </node> -->


  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  <param name="/use_sim_time" value="false" />
 
  
  
  <!-- Load robot_description -->
  

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg load_map_file_path)" />
                                         
  <!-- <node name = "joint_state_publisher" pkg = "joint_state_publisher" type = "joint_state_publisher" /> -->
  <!-- <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher"/> -->

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.20 0 0.13 1.57 0 0 base_link laser 100"/>

  <node name="odomtransformer" pkg="tamiya_jetracer" type="odomtransformer.py" output="screen">
		<param name="odom_input" value="/scanmatch_odom" />
		<param name="tf_output" value="/base_link" />
	</node>

  <!-- AMCL node -->
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="tf_broadcast" value="true"/>
    <param name="global_frame_id" value="/map"/>

    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="transform_tolerance" value="0.2" />
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="30"/>
    <param name="min_particles" value="100"/>
    <param name="max_particles" value="5000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.8"/>
    <param name="odom_alpha2" value="0.8"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_z_hit" value="0.9"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.1"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="5.0"/>
    <param name="update_min_d" value="0.05"/>
    <param name="update_min_a" value="0.1"/>
    <param name="odom_frame_id" value="scanmatch_odom"/>
    <param name="resample_interval" value="1"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>
    <param name="first_map_only" value="true"/>
    <param name="use_map_topic" value="false"/>
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="-1.57"/>
  </node>
  
    
      

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find tamiya_jetracer)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find tamiya_jetracer)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tamiya_jetracer)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tamiya_jetracer)/global_costmap_params.yaml" command="load" /> 
    <!-- <rosparam file="$(find tamiya_jetracer)/base_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find tamiya_jetracer)/dwa_local_planner_params.yaml" command="load" />

    <rosparam file="$(find tamiya_jetracer)/move_base_params.yaml" command="load" />
    <rosparam file="$(find tamiya_jetracer)/global_planner_params.yaml" command="load" />
    <!-- <rosparam file="$(find tamiya_jetracer)/navfn_global_planner_params.yaml" command="load" /> -->

    

    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> -->
    <param name="DWAPlannerROS/global_frame_id" value="map" />
    <param name="planner_frequency" value="10.0" />
    <param name="planner_patience" value="15.0" />

    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->



 </node>

   

    <!-- <node pkg="tamiya_jetracer" name="odom_publisher" type="odom_publisher"> </node> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tamiya_jetracer)/rviz/tamiya_amcl.rviz"/>
    <!-- <node pkg="tamiya_jetracer" type="controller.py" name="controller" output="screen"/> -->
    <!-- <node pkg="tamiya_jetracer" type="velocity.py" name="vel_pub" output="screen"/> -->
</launch>
  
