<launch> 
  
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/rplidar"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  
  <node name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
      <rosparam command="load" file="$(find rccar_jetson)/param/xsens_mti_node.yaml" />
  </node>

  <node pkg="rccar_jetson" name="scan2cloud" type="scan2cloud.py" output="screen"> </node>  
  <node pkg="rccar_jetson" name="vesc_driver" type="vesc_controller_auto.py" output="screen">
    <param name="serial_port"            type="string"     value="/dev/vesc"/>
    <param name="steer_offset"           type="float16"    value="-4.5"/>
    <param name="rev_steer_offset"       type="float16"    value="3.8"/>
    <param name="wheelbase"              type="float16"    value="0.320"/>
    <param name="maxSteer"               type="float16"    value="0.52"/>  
    <param name="tacho_jitter_threshold" type="int8"       value="60"/>  
  </node>
  
  <include file="$(find teleop_twist_joy)/launch/teleop.launch">
    <arg name="joy_config" value='ps4'/>
	  <arg name="config_filepath" value='$(find rccar_jetson)/cfg/ps4.config.yaml'/>
  </include>

  <node pkg="rccar_jetson" name="vesc_odom_publisher" type="odom_publisher" output="screen">
    <param name="meter_per_pulse"     type="float16"   value="0.004166666"/>  
    <param name="wheelbase"           type="float16"   value="0.257"/>    
  </node>
  <node pkg="rccar_jetson" name="amcl_pose_transformer" type="pose_transformer.py" output="screen"> </node>

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0.25 0 0.155 3.14 0 0 base_link laser 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_to_imu_broadcaster" args="0.17 0 0.125 0 0 0 base_link imu_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_broadcaster" args="0 0 0 0 0 0 world map 100" />

  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
    <rosparam command="load" file="$(find rccar_jetson)/param/ukf_template.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  

</launch>